- @friends_timeline.each do |entry|
  - screen_name = entry['user']['screen_name']
  %li.entry.selfclear{:id => "status_#{entry['id']}"}
    %span.thumb
      %a.url{:href => "http://twitter.com/#{screen_name}"}
        %img.photo{:alt => entry['user']['name'], :width => "48", :height => "48", :src => entry['user']['profile_image_url'] }
    %span.entry-content= entry['text']
    %span.entry-meta{:id => "created_at_#{entry['user']['id']}_#{Time.parse(entry['created_at']).to_i}"}
      = "#{time_ago_in_words(entry['created_at'])} ago by"
      %a{:href => "http://twitter.com/#{screen_name}"}
        %strong= entry['user']['name']
      = "from #{entry['source']}"
